# Dependency directories
/node_modules

# Compiled output
/dist
/out

# Environment variables
.env

# IDE files
/.vscode
/.idea

# Logs
/logs

# Testing frameworks
/jest

# Build tools
/webpack
/rollup

# Miscellaneous
.DS_Store

# 配置
/config/config.yaml